{% extends "base.html" %}
{% block content %}
<!-- Mashead header-->
<header class="masthead">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Mashead text and app badges-->
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xl-8">
                            <h1 class="display-1 lh-1 mb-3 text-center">Gallery</h1>
                            <p class="lead fw-normal text-muted mb-5 text-center">View a selection of reusable user experiences created for different data science use cases below.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="container-fluid">
        <div class="px-lg-5">
            <div class="row">
                {% for demo_config in data.demo_configs %}
                <!-- Gallery item -->
                <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                    <div class="bg-white rounded shadow-sm"><a href="{{url_for('use_case', use_case_name=demo_config['filename'])}}"><img src="{{url_for('static', filename='assets/img/demo_thumbnails/' + demo_config['images']['thumbnail_filename'])}}" alt="{{demo_config['name']}} Use Case Thumbnail" class="img-fluid card-img-top"></a>
                    <div class="p-4">
                        <h5> <a href="{{url_for('use_case', use_case_name=demo_config['filename'])}}" class="text-dark">{{demo_config['name']}}</a></h5>
                        <p class="small text-muted mb-0">{{demo_config['tagline']}}</p>
                    </div>
                    </div>
                </div>
                <!-- End -->
                {% endfor %}
        
            </div>
        </div>
        </div>
{% endblock %}
