{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <header class="masthead">
        <div class="container px-8">
            <div class="row gx-8 align-items-center">
                <div class="col-lg-6">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h1 class="display-3 lh-1 mb-3">{{ data.demo_config.name }}</h1>
                        <p class="lead fw-normal text-muted mb-5">{{ data.demo_config.tagline }}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="use-case-screenshot">
                        {% if data['demo_config']['links']['demo'] %}
                            <a href="{{ data['demo_config']['links']['demo'] }}">
                                <img src="{{url_for('static', filename='assets/img/demo_screenshots/' + data['demo_config']['images']['screenshot_filename'])}}" alt="{{ data.demo_config.name }} Use Case Screenshot" class="img-fluid card-img-top">
                                <div class="screenshot-overlay">
                                    <div class="screenshot-overlay-text">Live Demo</div>
                                </div>
                            </a>
                        {% else %}
                        <img src="{{url_for('static', filename='assets/img/demo_screenshots/' + data['demo_config']['images']['screenshot_filename'])}}" alt="{{ data.demo_config.name }} Use Case Screenshot" class="img-fluid card-img-top">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="container-fluid">
        <div class="container px-8">
            <div class="row gx-8">
                <div class="col-lg-8">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h2 class="display-8 lh-1 mb-3">Business Problem</h2>
                        {% if data.demo_config.business_problem is string %}
                        <p class="fw-normal">
                            {{ data.demo_config.business_problem }}
                        </p>
                        {% else %}
                        <p class="fw-normal text-xs ">
                            <ul>
                                {% for item in data.demo_config.business_problem %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        {% endif %}
                        <h2 class="display-8 lh-1 mb-3">Business Value</h2>
                        {% if data.demo_config.business_value is string %}
                        <p class="fw-normal">
                            {{ data.demo_config.business_value }}
                        </p>
                        {% else %}
                        <p class="fw-normal text-xs ">
                            <ul>
                                {% for item in data.demo_config.business_value %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        {% endif %}
                        <h2 class="display-8 lh-1 mb-3">Accelerator Description</h2>
                        {% if data.demo_config.accelerator_description is string %}
                        <p class="fw-normal">
                            {{ data.demo_config.accelerator_description }}
                        </p>
                        {% else %}
                        <p class="fw-normal text-xs ">
                            <ul>
                                {% for item in data.demo_config.accelerator_description %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        {% endif %}
                        <h2 class="display-8 lh-1 mb-3">Modeling Approach & Training</h2>
                        {% if data.demo_config.modeling_approach_and_training is string %}
                        <p class="fw-normal">
                            {{ data.demo_config.modeling_approach_and_training }}
                        </p>
                        {% else %}
                        <p class="fw-normal text-xs ">
                            <ul>
                                {% for item in data.demo_config.modeling_approach_and_training %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        {% endif %}
                        <h2 class="display-8 lh-1 mb-3">Value</h2>
                        {% if data.demo_config.value is string %}
                        <p class="fw-normal">
                            {{ data.demo_config.value }}
                        </p>
                        {% else %}
                        <p class="fw-normal text-xs ">
                            <ul>
                                {% for item in data.demo_config.value %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        {% endif %}
                        <h2 class="display-8 lh-1 mb-3">Data</h2>
                        {% if data.demo_config.data is string %}
                        <p class="fw-normal">
                            {{ data.demo_config.data }}
                        </p>
                        {% else %}
                        <p class="fw-normal text-xs ">
                            <ul>
                                {% for item in data.demo_config.data %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        {% endif %}
                        <h2 class="display-8 lh-1 mb-3">Architecture</h2>
                        <p class="fw-normal text-xs ">
                            This accelerator implements the following technologies:
                            {% if data.demo_config.architecture is string %}
                            <p class="fw-normal">
                                {{ data.demo_config.architecture }}
                            </p>
                            {% else %}
                            <p class="fw-normal text-xs ">
                                <ul>
                                    {% for item in data.demo_config.architecture %}
                                    <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% if data['demo_config']['links']['demo'] %}
                    <div class="mb-4">
                        <a href="{{ data['demo_config']['links']['demo'] }}">
                            <span class="btn form-control btn-demo">Live Demo</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if data['demo_config']['links']['source_code'] %}
                    <div class="mb-4">
                        <a href="{{ data['demo_config']['links']['source_code'] }}">
                            <span class="btn form-control btn-source-code">View Source Code</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if data['demo_config']['links']['arm_template'] %}
                    <div class="mb-4">
                        <a href="{{ data['demo_config']['links']['arm_template'] }}">
                            <span class="btn form-control btn-download"><img src="{{url_for('static', filename='assets/img/azure_icon_white.png')}}" height="25px" style="margin-right: 10px;">Deploy to Azure</span>
                        </a>
                    </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between text-xs">
                                <div class="fw-500 descriptor-title">Authors</div>
                                <div>
                                    {% for author in data['demo_config']['authors'] %}
                                        <a href="https://github.com/{{author.github_alias}}">{{ author.name }}</a><br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
