{% extends "base.html" %}
{% block content %}
<!-- Mashead header-->
<!-- Mashead header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Consumer Analytics</h1>
                    <p class="lead fw-normal text-muted mb-5">Learn more about your customers today, how likely are they to churn and what will their customer lifetime value be?</p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a href="{{url_for('customer_analytics')}}"><button class="btn btn-primary" style="margin-bottom: 30px">Test Using Sample Data</button></a>
                    </div>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <p>Or upload your own!</p>
                    </div>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <label class="form-label" for="customFile"></label>
                        <input type="file" class="form-control" id="customFile" />
                        
                    </div>
                    <br>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <button type="submit" class="btn btn-primary" style="margin-bottom: 30px">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Masthead device mockup feature-->
                <div class="masthead-device-mockup">
                    <img src="./static/assets/img/add_to_cart.svg" width="700px">
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

